# Variables para Render.com (se configuran en el dashboard de Render, no aquí)
# Esto es solo referencia local:
BOT_TOKEN=8803040712:AAHj9vYBV80zWefWYCWDeVXFrI3LhzN-Kgk
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImJhNWQxYjJjYzRkMDRhYmU5YmI4MTQ0MzgzYzY2NTI1IiwiaCI6Im11cm11cjY0In0=
DEPOT_ADDRESS=Tu Almacén, Ciudad, País
START_HOUR=09:30
END_HOUR=15:00
VEHICLE_SPEED_KMH=40
PORT=8000
